<div class="row">
  <div class="col s12 m8">
    <h3>{{mood.Mood}}
    
    </h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">{{formatDate mood.createdAt
            "MMMM Do YYYY, h:mm:ss a"
          }}</span>
        {{{mood.body}}}
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{mood.user.displayName}}</span>
        {{!Change: add 'referrerpolicy="no-referrer"' to stop Google from blocking access to the profile images}}
        <img
          src="{{mood.user.image}}"
          referrerpolicy="no-referrer"
          class="circle responsive-img img-small"
        />
      </div>
      <div class="card-action">
        <span>
          {{colorClass status}}</span>
      </div>
    </div>
  </div>
</div>