<h1>Click the Button to See Your Previous Mood Entries</h1>
<div class="row">
  <form action="/moods/postMoods" method="POST" class="col s12">
    <div class="row">

    </div>
    <div class="row">
      <input type="submit" value="View" class="btn" />
      <a href="/dashboard" class="btn orange">Dashboard</a>
    </div>
  </form>
</div>

{{!-- {{#if moods}}
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Body</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {{#each moods}}
        <tr>

          <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
          <td><span class="dash-status {{status.color}}">{{status}}</span></td>
          <td>{{{body}}}</td>
          <td>

            <form action="/moods/{{_id}}" method="POST" id="delete-mood">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any entries. Add one now!</p>
{{/if}} --}}

{{!-- <a href="/moods/showMoods{{_id}}"></a> --}}