<h4>Mood View</h4>

<p>A look back at your previous Moods: </p>
{{#if moods}}
  <table class="striped">
    <thead>
      <tr>

        <th></th>
        <th>Date Added</th>
        <th>Mood</th>
        <th>Details of current mood</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {{#each moods}}

        <tr class="{{colorClass status}} mood-border">

          <td></td>
          <td class="side-border">{{formatDate
              createdAt
              "MMMM Do YYYY, h:mm:ss a"
            }}</td>
          <td class="side-border"><span
              class="dash-status {{status.color}}"
            >{{status}}</span></td>
          <td class="body-space">{{{body}}}</td>
          <td>

            <form action="/moods/{{_id}}" method="POST" id="delete-mood">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any entries. Add one now!</p>
{{/if}}