<h4>Mood View</h4>
{{!-- <div class="color-container fixed-width">
<p class="color-good"> ****</p>
<p class="color-bad"> Bad</p>
<span>Neutral</span>
<p class="color-neutral">O</p>
</div> --}}
<p>A look back at your previous Moods: </p>
{{#if moods}}
  <table class="striped">
    <thead>
      <tr>

        <th></th>
        <th>Date Added</th>
        <th>Mood</th>
        <th class="body-space">Details of current mood</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {{#each moods}}

        <tr>

          <td></td>
          <td class="fixed-width pad-me-banana created-at" data-date="{{createdAt}}"></td>

          <td class="side-border {{colorClass status}} fixed-width"><span
              class="dash-status"
            ></span></td>
          <td class="body-space">{{{body}}}</td>
          <td class="fixed-width">
             <a href="/stories/moodIndex/" class="btn btn-float">
              <i class="fas fa-binoculars"></i>
            </a>
            <form action="/moods/{{_id}}" method="POST" id="delete-mood">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any entries. Add one now!</p>
{{/if}}